<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
@{
    string[] stringArr = new string[] { "Apple Pie", "Burritos", "Clams Casino",  "Donuts"};
    string words_c = "C";

    <!-- for(int i = 0; i < stringArr.Length; i++) -->
    foreach(var word in stringArr)
    {
        @if (word.Substring(0,1) ==words_c)
        {
            <p style="color:red;">@word</p>
        }else{
            <p>@word</p>
        }
    }
}
</body>
</html>